@model MovieReviewWebApp.Areas.Movies.ViewModels.MovieIndexViewModel
           
@{
    ViewBag.Title = "Index";
}

<h2>Movie Index</h2>
<div id="movieDetails" title="Movie Details"></div>
<p id="imgContainer"></p>
@if (Model.TotalItems == 0)
{
    <p>No movies.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>@Html.SortHeader(Model, "Title", "Title", "Index")</th>
                <th>Country</th>
                <th>@Html.SortHeader(Model, "Released", "Year", "Index")</th>
                <th>@Html.SortHeader(Model, "Rating", "Rating", "Index")</th>
                <th>Reviews</th>
                <th>Average Stars</th>
            </tr>
        </thead>
        <tbody>
            @{
                var even = true;
            }
            @foreach (var movie in Model.Items)
            {
                <tr 
                    @if (even)
                    {
                        <text>class='evenRow'</text>
                    }
                >
                    <td>@Html.ActionLink(movie.Title, "View", new { movie.ID })</td>
                    <td>@movie.Country.Name</td>
                    <td>@movie.Year</td>
                    <td>@movie.Rating</td>
                    <td>@movie.NumberOfReviews</td>
                    <td>@Html.DisplayFor(x=>movie.AverageStars)</td>
                </tr>                
                even = !even;
            }
        </tbody>
    </table>
    @Html.Pager(Model, "Index")
} 
